<!DOCTYPE html>
<html lang="ptBr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="../javascript/jquery-3.6.0.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/CadastroDeReceitas.css" />

    <title>Recipes</title>
  </head>
  <body>
    <main>
      <section id="info">
        <form id="info-basicas-form" class="cards-form">
          <p class="titulo">Informação Básica</p>

          <label for="nome">Nome</label>
          <input id="nome" type="text" class="inputText" required />

          <label for="descricao">Descrição</label>
          <input id="descricao" class="inputText" type="textarea" required />

          <label for="tempo">Tempo de Preparo</label>
          <input id="tempo" type="text" class="inputText" required />

          <label for="peso">Peso total da receita</label>
          <input id="peso" type="number" class="inputText" required />
          <input id="unidPeso" type="text" class="inputText" required />

          <label for="numPorcoes">Número de Porções</label>
          <input id="numPorcoes" type="number" class="inputText" required />

          <label for="categoria">Categoria</label>
          <input id="categoria" type="text" class="inputText" required />
        </form>

        <div class="image_file_recipe">
          <img class="envio" src="../images/avatar.svg" alt="avatar" />
          <input id="envio-img" type="file" title="" />
        </div>
      </section>

      <div class="info">
        <div class="cards-section">
          <p class="titulo">Ingredientes</p>
          <div class="cards_tables">
            <div id="ingredient_table_card_1" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>

            <div id="ingredient_table_card_2" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>

            <div id="ingredient_table_card_3" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>

            <div id="ingredient_table_card_4" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>

            <div id="ingredient_table_card_5" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>

            <div id="ingredient_table_card_6" class="aliment_box_info">
              <input
                id="aliment_name"
                class="inputText_nutrient"
                type="text"
                value="Arroz integral, cozido"
                disabled
              />
              <input
                id="aliment_weight_text"
                class="inputText_nutrient"
                type="text"
                value="3 Gramas"
                disabled
              />
              <input
                id="aliment_weight_number"
                class="inputText_nutrient"
                type="text"
                value="3g"
                disabled
              />
            </div>
          </div>

          <div class="aliment_box_nutrients">
            <div class="nutrients_values">
              <p id="aliment_protein_value">33.6</p>
              <p id="aliment_carbo_value">7</p>
              <p id="aliment_lipids_value">7.7</p>
              <p id="aliment_kcal_value">238.1 kcal</p>
            </div>
            <div class="nutrients_class">
              <p id="aliment_protein_class">Proteínas (g)</p>
              <p id="aliment_carbo_class">Carboidratos (g</p>
              <p id="aliment_lipids_class">Lipídeos (g)</p>
              <p id="aliment_kcal_class">100%</p>
            </div>
          </div>
          <div class="edit-form">
            <span id="edit-change" class="material-icons">edit</span>
            <img src="../images/carrot.svg" id="edit-confirm" alt="save">
          </div>
        </div>
      </div>

      <div class="prepare_section">
        <p class="titulo">Modo de Preparo</p>
          <div id="line_1" class="prepare_mode">
            <span id="prepare_mode_number">1</span>
            <input id="prepare_mode_text" type="text" class="inputText">
            <span id="delete_prepare_mode" class="material-icons">delete</span>
          </div>

          <div id="line_2" class="prepare_mode">
            <span id="prepare_mode_number">2</span>
            <input id="prepare_mode_text" type="text" class="inputText">
            <span id="delete_prepare_mode" class="material-icons">delete</span>
          </div>
      </div>
    </main>
    <script src="../javascript/CadastroDeReceita.js"></script>
  </body>
</html>
