<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="../javascript/jquery-3.6.0.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/CadastroDeReceitas.css" />

    <title>Recipes</title>
  </head>

  <body>
    <div class="info_basic">
      <div id="info_basic_form">
        <span class="title">Informação Básica</span>
        <div class="name_info_section">
          <span class="inputTitle">Nome</span>
          <input id="name" type="text" class="inputText" required />
        </div>

        <div class="description_info_section">
          <span class="inputTitle">Descrição</span>
          <textarea
            id="descricao"
            class="auto_height"
            oninput="auto_height(this)"
            required
          ></textarea>
        </div>
        <div class="time_info_section">
          <span class="inputTitle">Tempo de Preparo</span>
          <input id="time" type="time" class="inputText" required />
        </div>
        <div class="weight_info_section">
          <span class="inputTitle">Peso total da receita</span>
          <div id="weight_info_section">
            <input id="weight" type="number" class="inputText" required />
            <input
              id="unidWeight"
              type="text"
              class="inputText"
              value="Gramas"
              required
            />
          </div>
        </div>
        <div class="numPortion_info_section">
          <span class="inputTitle">Número de Porções</span>
          <input id="numPortion" type="number" class="inputText" required />
        </div>
        <div class="category_info_section">
          <span class="inputTitle">Categoria</span>
          <input id="category" type="text" class="inputText" required />
        </div>
      </div>

      <div class="image_file_recipe">
        <img
          id="output"
          class="img_file"
          src="../images/avatar.svg"
          alt="avatar"
        />
        <input
          id="envio_img_input"
          type="file"
          title=""
          accept="image/*"
          onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])"
        />
      </div>
    </div>

    <div class="info">
      <div class="cards-section">
        <p class="titulo">Ingredientes</p>
        <div class="cards_tables">
          <div id="ingredient_table_card_1" class="aliment_box_info">
            <input
              id="aliment_name_1"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_1"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_1"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>

          <div id="ingredient_table_card_2" class="aliment_box_info">
            <input
              id="aliment_name_2"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_2"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_2"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>

          <div id="ingredient_table_card_3" class="aliment_box_info">
            <input
              id="aliment_name_3"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_3"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_3"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>

          <div id="ingredient_table_card_4" class="aliment_box_info">
            <input
              id="aliment_name_4"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_4"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_4"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>

          <div id="ingredient_table_card_5" class="aliment_box_info">
            <input
              id="aliment_name_5"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_5"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_5"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>

          <div id="ingredient_table_card_6" class="aliment_box_info">
            <input
              id="aliment_name_6"
              class="inputText_nutrient"
              type="text"
              value="Arroz integral, cozido"
              disabled
            />
            <input
              id="aliment_weight_text_6"
              class="inputText_nutrient"
              type="text"
              value="3 Gramas"
              disabled
            />
            <input
              id="aliment_weight_number_6"
              class="inputText_nutrient"
              type="text"
              value="3g"
              disabled
            />
          </div>
        </div>

        <div class="aliment_box_nutrients">
          <div class="nutrients_values">
            <p id="aliment_protein_value">33.6</p>
            <p id="aliment_carbo_value">7</p>
            <p id="aliment_lipids_value">7.7</p>
            <p id="aliment_kcal_value">238.1 kcal</p>
          </div>
          <div class="nutrients_class">
            <p id="aliment_protein_class">Proteínas (g)</p>
            <p id="aliment_carbo_class">Carboidratos (g</p>
            <p id="aliment_lipids_class">Lipídeos (g)</p>
            <p id="aliment_kcal_class">100%</p>
          </div>
        </div>
        <div class="edit-form">
          <span id="edit-change" class="material-icons">edit</span>
          <img src="../images/carrot.svg" id="edit-confirm" alt="save" />
        </div>
      </div>
    </div>

    <div class="prepare_section">
      <div class="title_section">
        <p class="title">Modo de Preparo</p>
        <span id="add_new_input" class="material-icons">add</span>
      </div>
      <div id="test" class="prepare_mode">
        <span id="prepare_mode_number">1</span>
        <input id="prepara_text_input" type="text" class="inputText_mode" />
        <span id="delete_prepare_mode" class="material-icons">delete</span>
      </div>
    </div>

    <div class="portion-macro-micro_cards">
      <div class="portion_and_measure_card">
        <span class="title">Porção e medidas caseiras</span>

        <div class="name_section">
          <span id="name_of_portion_title" class="inputTitle"
            >Nome da porção</span
          >
          <input
            id="name_portion_input"
            type="text"
            class="inputText_portion"
          />
        </div>
        <div class="name_plural_section">
          <span id="name_portion_plural_title" class="inputTitle"
            >Nome da porção no plural</span
          >
          <input
            id="name_portion_plural_input"
            type="text"
            class="inputText_portion"
          />
        </div>
        <div class="number_of_portion_section">
          <span id="number_of_portion_title" class="inputTitle"
            >Número de porções</span
          >
          <input
            id="number_of_portion_input"
            type="number"
            class="inputText_portion"
          />
        </div>
        <div class="weight_for_portion_section">
          <span id="weight_for_portion_title" class="inputTitle"
            >Peso de cada porção</span
          >
          <input
            id="weight_for_portion_input"
            type="number"
            class="inputText_portion"
          />
        </div>
      </div>

      <div class="micronutrients_card" hidden>
        <div class="title_info">
          <span id="change_table" class="material-icons">sync_alt</span>
          <span id="name_of_card_micro"
            >Micronutrientes por <span id="name_singular_or_plural_micro"></span
          ></span>
        </div>
        <input
          type="text"
          id="name_and_value_micronutrients_1"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_2"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_3"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_4"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_5"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_6"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_7"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_8"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_9"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_10"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_11"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_micronutrients_12"
          class="inputText_portion"
        />
      </div>

      <div class="macronutrients_card">
        <div class="title_info">
          <span id="change_table" class="material-icons">sync_alt</span>
          <span id="name_of_card_macro"
            >Macronutrientes por <span id="name_singular_or_plural_macro"></span
          ></span>
        </div>
        <input
          type="text"
          id="name_and_value_macronutrients_1"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_macronutrients_2"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_macronutrients_3"
          class="inputText_portion"
        />
        <input
          type="text"
          id="name_and_value_macronutrients_4"
          class="inputText_portion"
        />
      </div>
    </div>
    <script src="../javascript/CadastroDeReceita.js"></script>
  </body>
</html>
