@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Montserrat:wght@300&family=Montserrat:wght@100&family=Poppins:wght@500&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0 16px;
}

section {
  margin-top: 10px;
  padding: 8px 0 16px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;

  background: #ffffff;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards-form {
  grid-column-start: 1;
  grid-column-end: 2;
  
  margin-left: 10px;

  display: grid;
  grid-auto-rows: 2rem;
  grid-template-columns: 1fr 0.3fr 1fr 1fr;
}

.cards-form label, 
.cards-form input {
  display: block;
  width: auto;
  margin-right: 12px;
}

.cards-form p {
  grid-row: 1/2;
}

/* Posiocionamento dos campos de informações */

label[for="nome"] {
  grid-row: 2/3;
}

#nome {
  grid-row: 3/4;
  grid-column: 1/5;
}

label[for="descricao"] {
  grid-row: 4/5;
}

#descricao {
  grid-row: 5/6;
  grid-column: 1/5;
}

label[for="tempo"] {
  grid-row: 6/7;
  grid-column: 1/2;
}

#tempo {
  grid-row: 7/8;
  grid-column: 1/2;
  width: 70%;
}

label[for="peso"] {
  grid-row: 6/7;
  grid-column: 2/4;
}

#peso {
  grid-row: 7/8;
  grid-column: 2/3;
  width: 95%;
}

#unidPeso {
  grid-row: 7/8;
  grid-column: 3/4;
  width: 50%;
}


label[for="numPorcoes"] {
  grid-row: 6/7;
  grid-column: 4/5;
}

#numPorcoes {
  grid-row: 7/8;
  grid-column: 4/5;
}

label[for="categoria"] {
  grid-row: 8/9;
  grid-column: 1/2;
}

#categoria {
  grid-row: 9/10;
  grid-column: 1/5;
}

/* Estilização dos campos */

.titulo {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 0 12px;
}

label {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;

  padding-top: 10px;
  padding-bottom: 4px;
}

.inputText{
  width: 100%;
  height: 28px;
  background: #f4f5f7;
  font-family: 'Poppins';
  font-weight: 300;
}


.image_file_recipe {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto auto;  

}

.envio {
  display: flex;
  
  margin: auto;
  width: 30%;
}

.envio input {
  display: block;
  width: auto;
  padding: 4px;

  margin: 10px auto;
 
}




/*  Área dos ingredientes e valores nutricionais*/

.info .ingredients_table{
  display: grid;
  grid-template-columns: 2fr 1fr;

  width: 100%;
  height: auto;
  margin-top: 32px;
  padding: 12px 8px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info .ingredients_table .cards_tables {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}


.info .ingredients_table .aliment_box_nutrients {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
}


