<!DOCTYPE html>
<html lang="ptBr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />

    <title>Recipes</title>
  </head>
  <body>
    <main>
      <section id="info">
        <form id="info-basicas-form" class="cards-form">
          <legend>Informação Básica</legend>
      
            <label for="nome">Nome</label>
            <input id="nome" type="text" class="inputText" required />

            <label for="descricao">Descrição</label>
            <input id="descricao" class="inputText" type="textarea" required />

            <label for="tempo">Tempo de Preparo</label>
            <input id="tempo" type="text"class="inputText" required />

            <label for="peso">Peso total da receita</label>
            <input id="peso" type="number"class="inputText" required />
            <input id="unidPeso" type="text"class="inputText" required />

           <label for="numPorcoes">Número de Porções</label>
           <input id="numPorcoes" type="number" class="inputText" required />

           <label for="categoria">Categoria</label>
            <input id="categoria" type="text" class="inputText" required />
   
        </form>

        <div class="image_file_recipe">
          <img class="envio" src="images/avatar.svg" alt="sanduiche" />
          <input id="envio-img" type="file" title=""/>
        </div>
      </section>

      <div class="info">
        <p>Ingredientes</p>
        <div class="ingredients_table">
          
            <div id="ingredient_table_card_1" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div id="ingredient_table_card_2" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div id="ingredient_table_card_3" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div id="ingredient_table_card_4" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div id="ingredient_table_card_5" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div id="ingredient_table_card_6" class="aliment_box_info">
              <input id="aliment_name" type="text" value="Arroz integral, cozido" disabled />
              <input id="aliment_weight_text" type="text" value="3 Gramas" disabled />
              <input id="aliment_weight_number" type="text" value="3g" disabled />
            </div>

            <div class="aliment_box_nutrients">
              <p id="aliment_peotein" >33.6 Proteinas (g)</p>
              <p id="aliment_carbo" >7 Carboidratos (g)</p>
              <p id="aliment_lipids" >7.7 Lipídeos (g)</p>
              <p id="aliment_kcal" >238.1 kcal 100%</p>
            </div>
          </div>
        </div>
      </div>




    </main>
  </body>
</html>
